/aplicativoitau.msi
/apst.txt
/Aqui está o relatório do seu teste DISC Jusimar.pdf
/AWS AT!.txt
/AWS AT.txt
/chaves certificado.txt
/Cisco Packet Tracer.lnk
/cursos i need.txt
/desktop.ini
/Dio_git_e_github - Atalho.lnk
/documentacao_modulo_estrategias.pdf
/fabulous_four.txt
/IRPF2023.lnk
/IRPF2024.lnk
/Jusimar alves da silva.pdf
/kivy
/Microsoft Edge.lnk
/Profit.lnk
/rascunho respostas atv1.txt
/respostaatv1.txt
/script
/SQLiteStudio.lnk
/SysinternalsSuite
/Taylordrift21_Config_Wizard.exe
/Telegram.lnk
/Visual Studio Code.lnk
/Zen Studio.lnk
/Zen++.lnk